footer {
    background-color: #e9eaed;
    color: #4e5665;
    font: {
        size: 14px;
        weight: normal;
    }

    dl {
        width: 20%;
        float: left;
        margin: 0;
        padding: 20px 0;

        dt, dd {
            padding: 5px 0;
        }

        dt {
            font-weight: bold;
        }

        dd {
            margin: 0;
        }
    }

    .about {
        border-top: 1px solid #ccc;
        padding: 20px 0;
        overflow: auto;

        .octicon-heart {
            color: #ec3930;
        }

        .octicon-logo-github {
            color: #000;
        }
    }
}
